table{
    background-color: indigo;
    font-size: 1.2em;
    padding: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: 10px;
}
input{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, .75);
    padding: 5px;
    outline: none;
    border: none;
}
input:focus{
    background-color: white;
    color: black;
}
input[type="email"]:focus{
    background-color: rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, 1);
}
input[type="date"]{
    background-color: white;
    color: black;
    border-radius: 0;
}
button{
    position: relative;
    right: 20px;
    width: 120px;
    height: 40px;
    background-color: navy;
    box-shadow: 0 0 4px white;
    color: white;
    border-radius: 5px;
}
