* {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    border: black solid 1px;
    padding: 10px;
    width: 70%;
    margin: auto;
}

form {
    width: 90%;
    margin: auto;
}

button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-weight: 300;
    font-size: 16px;
    margin-top: 30px;
    background-color: white;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
    transition: all 1s ease;
}

input,
select {
    width: 170px;
    height: 40px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
}

label {
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    display: flex;
    align-items: center;
}

span label {
    position: relative;
    left: 250px;
    display: inline;
    width: auto;
    margin-right: 15px;
}

span input {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}



footer {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

table {
    border-spacing: 10px;
}