body{
    background-image: url(facultet.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment:fixed;
    background-size: 100px;
}
ul li{
    list-style: none;
    background-image: url(facultet.png);
    background-repeat: no-repeat;
    padding-left: 40px;
    margin-bottom: 10px;
}

table{
    border: black 1px solid; 
    border-collapse: collapse;
    margin-bottom: 60px;
}
td{
    border: 1px solid black ;
}
ol{
    border: 1px solid black; 
    width: 250px; 
    padding: 30px;
}
a{
    color: black;
}
span{
    color: pink;
}
h1{
    text-align: center;
}

/* task2 */

div{
    height: 400px;
    margin: auto;
}

img{
    width: 300px;
    height: 400px;
}
img[src ^= "pudge"]{
    float: left;
    margin-right: 20px;
}
img[src ^= "cat"]{
    float: right;
    margin-left: 20px;
}
p{
    width: 700px;
    text-indent: 25px;
    margin: 0;
}
.pudge_p{
    float: right;
}
