table{
    text-align: center;
    color: white;
    border-spacing: 0;
    empty-cells: hide;
}
table th, td{
    border: 1px solid rgba(0, 0, 0, 0.5);
}
thead th{
    background-color: darkblue;
    width: 70px;
    height: 50px;
}
td{
    height: 30px;
}

td:first-child{
    width: 50px;
    color: black;
}


caption{
    font-size: 1.2em;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}
