form{
    width: 470px;
    height: 500px;
    background-color: indigo;
    font-size: 1.2em;
    padding: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-spacing: 10px;
}
label{
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}
p{
    margin-top: 0;
    font-size: 1.2em;
}

span{
    display: inline-block;
    width: 105%;
}
span input{
    float: none;
}
span label{
    width: 100px;
    float: right;
}
select{
    margin-left: 70px;
}
input{
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, .75);
    padding: 5px;
    outline: none;
    border: none;
    float: right;
}

input:focus{
    background-color: white;
    color: black;
}

input[type="email"]:focus{
    background-color: rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, 1);
}
input[type="date"]{
    background-color: white;
    color: black;
    border-radius: 0;
    float: none;
    margin-left: 140px;
}
button{

    width: 120px;
    height: 40px;
    background-color: navy;
    box-shadow: 0 0 4px white;
    color: white;
    border-radius: 5px;
}
.button_div{
    margin-top: 10px;
    margin-left: 45%;
}