

.grid {
    display: grid;
    grid-template-columns: 300px 600px 600px ;
    grid-template-rows: 850px;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    grid-gap: 10px;
}

.grid div {
    padding: 15px;
}
