aside {
    float: right;
    border: 1px solid black;
}

p {
    width: 80%;
    float: left;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

li:nth-child(1) a{
    color: red;
}

li:nth-child(2) a:visited{
    color: #8b0000;
}

li:nth-child(3) a:hover {
    color: green;
}

li:nth-child(4) a:focus {
    color: rgb(184,
            134, 11);
}