
.grid {
    display: grid;
    grid-template-columns: 600px 600px 300px;
    grid-template-rows: 425px 425px;
    text-align: center;
    overflow-wrap: break-word;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    grid-gap: 10px;

}

.grid div{
    padding: 15px;
}

.grid div:nth-child(1){
    grid-row: 1/3;
}
.grid div:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/3;
}

