*{
    padding: 0;
    margin: 0;
}

.container{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    font-size: 18px;
}
figure, img, p{
    width: 400px;
    height: 200px;
}

.red{
    border: 10px solid red;
}