
nav{
    width: 80%;
    margin: auto;
}
a{
    color: black;
    text-decoration: none;
}
li{
    list-style: none;
}
nav>ul>li{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    line-height: 30px;
    text-align: center;
}
nav>ul>li>ul{
    position: absolute;
    left: -1px;
    padding-left: 0;
}

.invis_1:hover>ul>li{
    display: block;
}
.invis_2:hover>ul>li{
    display: block;
}
.invis_3:hover>ul>li{
    display: block;
}

nav>ul>li>ul>li{
    display: none;
    width: 200px;
    height: 30px;
    border: 1px solid black;
    line-height: 30px;
    text-align: center;
}
nav>ul>li>a:nth-child(1){
    display: inline-block;
    width: 100%;
    background: url(facultet.png) no-repeat 0 0;
}

.invis_1:hover>a{
    background-position: 0 -30px;
}
.invis_2:hover>a{
    background-position: 0 -90px;
}
.invis_3:hover>a{
    background-position: 0 -60px;
}