img {
    width: 300px;
    height: 300px;
}

.task1>img[src*="antimag"]:hover {
    transform: scale(0.5);
}

.task1>img[src*="kunka"]:hover {
    transform: rotate(45deg);
}

.task1>img[src*="pudge"]:hover {
    transform: translate(40px, 0);
}

.task1>img[src*="luna"]:hover {
    transform: skew(-20deg);
}

div {
    margin-bottom: 250px;
}

button {
    display: inline-block;
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    margin-right: 40px;
    font-size: 16px;
}

.btn_1:hover {
    background-color: black;
    color: white;
}

.btn_2:hover {
    border: 5px solid red;
    outline: 5px solid yellow;
}

.btn_3:hover {
    border: none;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
}

.btn_4:hover {
    border: none;
    border-left: 5px solid blue;
    border-right: 5px solid blue;
}

.btn_5:hover {
    border: none;
    background-image: radial-gradient(yellow, purple, aqua);

}

img[src*="hood"] {
    transform: perspective(200px) rotateX(30deg);
    margin-right: 70px;
}

img[src*="viper"] {
    transform: perspective(400px) rotateY(30deg);
    margin-right: 70px;
}

img[src*="ursa"] {
    transform: perspective(200px) rotateX(30deg);
    margin-right: 70px;
}

img[src*="rubick"] {
    transform: perspective(400px) rotateY(-30deg);
}

.task4 {
    width: 100%;
    height: 300px;
}

.task4 img {
    position: absolute;
    margin-right: 100px;
}

.task4>img[src*="pudge2"] {
    left: 100px;
    animation: animationtask4-1 6s ease infinite;
}

.task4>img[src*="invoker"] {
    left: 200px;
    animation: animationtask4-2 6s ease infinite;
}

.task4>img[src*="priml"] {
    left: 300px;
    animation: animationtask4-3 6s ease infinite;
}

.task4>img[src*="lion"] {
    left: 400px;
    animation: animationtask4-4 6s ease infinite;
}

@keyframes animationtask4-1 {
    0% {
        transform: perspective(200px) rotateY(30deg);
    }

    50% {
        transform: rotateY(0);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes animationtask4-2 {
    0% {
        transform: perspective(200px) rotateY(30deg);
    }

    50% {
        transform: rotateY(0);
        filter: none;
    }

    100% {
        transform: translate(200px);
        filter: blur(10px);
    }
}

@keyframes animationtask4-3 {
    0% {
        transform: perspective(200px) rotateY(30deg);
    }

    50% {
        transform: rotateY(0);
        filter: none;
    }

    100% {
        transform: translate(400px);
        filter: grayscale(1);
    }
}

@keyframes animationtask4-4 {
    0% {
        transform: perspective(200px) rotateY(30deg);
    }

    50% {
        transform: rotateY(0);
        filter: none;
    }

    100% {
        transform: translate(600px);
        filter: invert(1);
    }
}


.task5 {
    width: 300px;
    height: 300px;
    margin: auto;
    border: 10px solid black;
    animation: translate_task5 5s ease-in infinite;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


@keyframes translate_task5 {
    0%{
        background-image: url(../lab6/lion.jpg);
    }
    25%{
        background-image: url(../lab6/priml.jpg);
    }
    50%{
        background-image: url(../lab6/invoker.jpg);
    }
    75%{
        background-image: url(../lab6/pudge2.jpg);
    }
    100%{
        background-image: url(../lab6/jug.jpg);
    }

}

.task6 {
    width: 100%;
    overflow: hidden;
}

.task6 img {
    display: block;
}

@keyframes task6-1 {
    0% {
        transform: translate(0);
    }

    50% {
        transform: translate(200px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes task6-2 {
    0% {
        transform: translate(0);
        border-radius: 0;
    }

    50% {
        transform: translate(200px);
        border-radius: 200px;
    }

    100% {
        transform: translate(0);
        border-radius: 0;
    }
}

@keyframes task6-3 {
    0% {
        transform: translate(-300px);
    }

    100% {
        transform: translate(2400px);
    }
}

@keyframes task6-4 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes task6-5 {
    0% {
        left: 0;
        top: 0;
    }

    25% {
        left: 200px;
        top: 0;
    }

    50% {
        left: 200px;
        top: 200px;
    }

    75% {
        left: 0;
        top: 200px;
    }

    100% {
        left: 0;
        top: 0;
    }
}

.pr1 {
    animation: task6-1 1s ease infinite;
}

.pr2 {
    animation: task6-2 1s ease infinite;
}

.pr3 {
    animation: task6-3 5s ease infinite;
}

.pr4 {
    animation: task6-4 1s ease infinite;
    margin-bottom: 50px;
}

.pr5 {
    position: relative;
    animation: task6-5 1s ease infinite;
    padding-bottom: 200px;
}

@keyframes changeColor {
    0% {
        color: black;
    }

    10% {
        color: pink;
    }

    20% {
        color: red;
    }

    30% {
        color: yellow;
    }

    40% {
        color: yellowgreen;
    }

    50% {
        color: aliceblue;
    }

    60% {
        color: aqua;
    }

    70% {
        color: greenyellow;
    }

    80% {
        color: brown;
    }

    90% {
        color: hotpink;
    }

    100% {
        color: black;
    }
}


.task7 {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin: auto;
}

.task7:hover p {
    animation: changeColor 5s linear infinite;
}

@keyframes prosrach {
    0% {
        color: rgba(0, 0, 0, 1);
    }

    50% {
        color: rgba(0, 0, 0, 0.2);
    }

    100% {
        color: rgba(0, 0, 0, 1);
    }
}

h1 {
    text-align: center;
    animation: prosrach 2s linear infinite;
}